---
import Icon from './Icon.astro';
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Web Development</h2>
        <p>As an intermediate web developer, I possess strong skills in front-end technologies
             like HTML, CSS, and JavaScript. I can create visually appealing, 
             responsive websites and have experience with library JS like React, and version control systems like Git. 
             My problem-solving abilities, attention to detail, and commitment to learning make me a valuable asset in web development projects.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Mobile Development</h2>
        <p>As an entry-level mobile developer specializing in Flutter,
            I possess a strong foundation in Android and iOS app development.
            Write clean and efficient code for optimal app performance. 
            I excel in integrating RESTful APIs and leveraging third-party libraries to enhance app functionality. With a keen eye for detail, I am adept at debugging and troubleshooting, ensuring smooth user experiences.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Strategy-Minded</h2>
        <p>I am highly strategy-minded, utilizing critical thinking and effective planning to achieve desired outcomes. With strong problem-solving skills and adaptability, I navigate challenges and make informed decisions. My communication and collaboration abilities foster seamless teamwork. Organizational skills help me prioritize tasks and meet deadlines. With a growth mindset and a focus on continuous improvement, I embrace learning and skill development.</p>
    </div>
</section>

<style>
    .box {
        border: 1px solid var(--gray-800);
        border-radius: 0.75rem;
        padding: 1.5rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .skills h2 {
        font-size: var(--text-lg);
    }

    .skills p {
        color: var(--gray-400);
    }

    @media (min-width: 50em) {
        .box {
            border-radius: 1.5rem;
            padding: 2.5rem;
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
        }

        .skills h2 {
            font-size: var(--text-2xl);
        }
    }
</style>

